@import url('https://cdn.jsdelivr.net/gh/MonadABXY/mona-font/web/mona.css');

@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

:root {
  color-scheme: light only;
}

body {
    font-family: 'GMarketSans';
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.container {
    width: 600px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.header {
    display: flex;
    font-family: "Mona12";
    font-size: 20px;
    background: #ffffff;
    justify-content: center;
    align-items: center;
    position: sticky;
    border-bottom: 1px solid #d3d3d3;
    top: 0;
    width: 100%;
}

.title_txt {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 7px;
    margin-right: 7px;
}

.title_img {
    height: 40px;
}

.button_area {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background: #ffffff;
    border-top: 1px solid #d3d3d3;
    justify-content: center;
    align-items: center;
}

.cart_button {
    width: 80%;
    height: 70%;
    background: #353535;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
}

.order_content {
    width: 80%;
}

.subject_txt {
    text-align: left;
    font-size: 17.5px;
    font-weight: 600;
}

.order_txt {
    width: 90%;
    display: flex;
    flex-direction: column;
    border: 1px solid #dbdbdb;
    text-align: left;
    padding: 10px;
    margin-bottom: 15px;
}

.cnt_txt {
    font-size: 13px;
    color: #757575;
    margin: 5px 0;
}

.total_txt {
    text-align: right;
    padding-right: 20px;
}

.information {
    width: 90%;
    height: 40px;
    margin-bottom: 15px;
    border: 1px solid #dbdbdb;
    padding-left: 10px;
}

.copy_box {
    display: flex;
    width: 80%;
    border: 1px solid #dcdcdc;
    background: #ffffff;
}

.copy_text {
    /* width: ; */
    flex: 1;
    text-align: center;
    padding: 12px 0;
    font-weight: bold;
    color: #4a6b3f;
}

.copy_btn {
    width: 100px;
    border: none;
    background: #dfe8d2;
    color: #4a6b3f;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

#toast {
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    
    background: rgba(99, 99, 99, 0.8);
    color: #fff;
    padding: 10px 16px;
    border-radius: 20px;
    font-size: 14px;
    padding: 10px 35px;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

#toast.show {
    opacity: 1;
}