@import url('https://cdn.jsdelivr.net/gh/MonadABXY/mona-font/web/mona.css');

@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

body {
    font-family: 'GMarketSans';
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.container {
    width: 600px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.main_img {
    width: 99%;
    background: #ffffff;
    border: 2px solid #a8c572;
}

.sale_info {
    margin-left: 5px;
    font-size: 15px;
    color: rgb(151, 151, 151);
}

.info_text {
    margin-left: 30px;
    font-size: 15px;
}

.info_box {
    margin-top: 20px;
}

.product_main {
    width: 100%;
}

.header {
    display: flex;
    font-family: "Mona12";
    font-size: 20px;
    background: #ffffff;
    justify-content: center;
    /* 가로 가운데 */
    align-items: center;
    /* 세로 가운데 */
    position: sticky;
    top: 0;
    width: 100%;
}

.title_txt {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 7px;
    margin-right: 7px;
}

.title_img {
    height: 40px;
}

.product_title {
    align-items: left;
    margin-bottom: 25px;
}

.menu_list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 40px;
    border-bottom: 1px solid #d3d3d3;
    background: white;
}

.menu_list li {
    height: 100%;
    flex: 1;
    /* 각각 50% */
    display: flex;
    justify-content: center;
    /* 가로 가운데 */
    align-items: center;
    /* 세로 가운데 */
}

.menu_list li.active {
    border-bottom: 2px solid #353535;
}

.menu_div {
    position: sticky;
    top: 53.2px;
    width: 100%;
}

.button_area {
    display: flex;
    position: sticky;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background: #ffffff;
    border-top: 1px solid #d3d3d3;
    justify-content: center;
    /* 가로 가운데 */
    align-items: center;
    /* 세로 가운데 */
}

.cart_button {
    width: 80%;
    height: 70%;
    background: #353535;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
}

.info_menu {
    background: #f3f7e8;
}

#ask_menu {
    margin-bottom: 300px;
}

/* 어두운 배경 */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 46px;
    background: rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 998;
}

/* 하단 메뉴 */
.bottom_sheet {
    position: fixed;
    bottom: -850%;
    /* 처음엔 숨김 */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    height: 85%;
    background: white;
    border-radius: 15px 15px 0 0;
    z-index: 999;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
}

/* 열렸을 때 */
.bottom_sheet.active {
    bottom: 0;
}

.sheet_header {
    padding: 20px;
}

.product_choose {
    position: relative;
    margin-bottom: 15px;
}

.choose_product {
    display: flex;
    justify-content: space-between; 
    border: 1.5px solid #dbdbdb;
    padding: 12px;
    align-items: center;
}

.choose_option {
    display: flex;
    justify-content: space-between; 
    border: 1.5px solid #dbdbdb;
    padding: 12px;
}

.menu_choose {
    color: #535353;
    display: flex;
    align-items: center;
    line-height: 1;
    transform: translateY(1px);
}

.menu_open {
    height: 25px;
    transition: 0.2s;
    display: block;
}

.menu_open.active {
    transform: rotate(180deg);
}

.product_open {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;

    border: 1.5px solid #dbdbdb;
    border-top: none;

    display: none; /* 기본 숨김 */
    z-index: 10;

    box-sizing: border-box;
}

.options {
    display: flex;
    justify-content: space-between; 
    padding: 12px;
    border: none;
}

.options:first-child {
    border-bottom: 1px solid #ededed;
}
.options:nth-child(2){
    border-bottom: 1px solid #ededed;
}
.options:nth-child(3) {
    border-bottom: 1px solid #ededed;
}

.options span {
    display: flex;
    align-items: center;
    /* height: 25px; */
}

.option_open {
    display: none;
}

/* 옵션 표 느낌 */
.option_open {
    border: 1.5px solid #dbdbdb;
    border-top: none;
}

.option_open .options {
    border-bottom: 1px solid #ededed;
}

.option_open .options:last-child {
    border-bottom: none;
}

.plus_price {
    font-size: 14px;
    color: #868686;
}

.sheet_content {
    padding: 20px;
    flex: 1;
    overflow-y: auto;
    /* 스크롤 생성 */
}

.close_btn {
    background: white;
    border: none;
}

.product_buy {
    height: 80px;
    width: 100%;
    display: none;
    border-top: 1px solid #d3d3d3;
    background: #ffffff;
}

.bottom_sheet.active .product_buy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_item {
    border: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 15px;
}

.cart_list {
    margin-top: 20px;
}

.cart_list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.cart_list button {
    margin-left: 10px;
}

.total_price {
    display: flex;
    margin-top: 10px;
    /* font-weight: bold; */
}

/* 기본 상태 */
.ask_url {
    color: rgb(0, 117, 47);
    text-decoration: none;
    /* 밑줄 제거 */
    cursor: pointer;
    padding-bottom: 5px;
    text-decoration: underline;
    text-underline-position: under;
}

.product_info {
    display: flex;
    justify-content: space-between; 
    margin-top: 5px;
    margin-bottom: 20px;
}

.product_txt {
    margin-top: 13px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
}

.option_choose {
    width: 60%;
}

.add_cart {
    background: #353535;
    color: white;
    border: none;
    font-size: 14px;
}

.quantity_box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.minus {
    width: 30px;
    height: 30px;
    font-size: 22px;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
    background: white;
    align-items: center;
    margin: 0 !important;
}

.qty {
    width: 35px;
    height: 28.4px; 
    background: white;
    justify-content: center;
    align-items: center;
    display: flex;
}

.plus {
    width: 30px;
    height: 30px;
    font-size: 20px;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
    background: white;
    align-items: center;
    margin: 0 !important;
}

.add_cart {
    width: 96.6px;
    height: 30px;
}

.option {
    height: 30px;
}

.add_info {
    display: flex;
    border: 1px solid #dbdbdb;
    background-color: white;
    justify-content: space-between; 
    padding: 10px;
    margin-bottom: 20px;
}

.part1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 10px;
}

.part2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 10px;
}

.remove_cart {
    width: 20px;
    height: 20px;

    background-image: url('img/close.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;

    border: none;
    cursor: pointer;
    margin-top: 5px;
}

hr {
    background:#dbdbdb;
    height:1px;
    border:0;
}